
<!-- <router-outlet></router-outlet> -->

<section class="flex w-screen p-10 justify-center items-start"> <button (click)="toggleModal()" id="btn" class="py-3 px-10 bg-blue-800 text-white rounded text shadow-xl"> <span> {{ showModal == false ? "Open Modal" : "Close Modal" }} </span> </button> </section>
<div id="myModal" *ngIf="showModal" class="h-auto w-11/12 md:w-3/4 p-5 bg-white rounded-md flex flex-row gap-20 mx-auto">
   <div class="flex flex-col w-40 h-auto" style="width: 30%;">
      <div class="flex w-full h-auto justify-center items-center">
         <div class="flex w-full h-auto py-3 justify-center items-center text-2xl font-bold mb-10 bg-yellow-600 text-black" style="color: #00000091; font-size: 20px;">New Template</div>
      </div>
      <div class="flex w-full h-auto py-2 px-2 justify-center items-center bg-gray-200 rounded text-center text-gray-500 mb-20">
         <nav class="flex flex-col w-full">
            <div class="flex flex-col justify-center items-left h-16 text-left text-black px-4"> <span class="text-1xl text-black-500 font-bold text-gray-900">Categories</span> </div>
            <div class="flex flex-col text-left"> <a href="#" class="text-black px-6 py-2 hover:bg-blue-400 font-normal text-black">Mine</a> <a href="#" class="text-black px-6 py-2 hover:bg-blue-400">Sent</a> <a href="#" class="text-black px-6 py-2 hover:bg-blue-400">Shared</a> <a href="#" class="text-black px-6 py-2 hover:bg-blue-400">Draft</a> </div>
         </nav>
      </div>
      <div class="flex w-full h-auto py-10 px-2 justify-center items-center bg-gray-200 rounded text-center text-gray-500 p-20">Create new category</div>
   </div>
   <div class="flex flex-col w-full h-auto ">
      <div class="flex w-full h-auto justify-center items-center mb-10 w-full">
         <div class="flex w-full h-auto py-3 justify-left items-left text-2xl font-bold text-left text-2xl mt-0 pt-4 font-medium p-10">My Templates</div>
         <div (click)="toggleModal()" class="flex w-1/12 h-auto justify-center cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
               <line x1="18" y1="6" x2="6" y2="18"></line>
               <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
         </div>
      </div>
      <ul class="grid grid-cols-1 gap-4">
         <li class="bg-white p-4 shadow flex justify-between items-center content-center bg-gray-200">
            <p class="text-gray-500">Name</p>
            <p class="text-gray-500">Description</p>
            <button class="bg-white text-gray-800 px-4 py-2 rounded border border-gray-400 rounded-2xl">Search</button> 
         </li>
         <li class="bg-white p-4 shadow flex justify-between items-center">
            <h2 class="text-lg font-normal">...</h2>
            <p class="text-gray-500">...</p>
            <button class="bg-black text-white px-4 py-2 rounded ml-40 mr-2">Use</button> 
         </li>
      </ul>
   </div>
</div>
<div id="debugger" class="h-auto w-11/12 md:w-3/4 p-5 bg-white rounded-md flex flex-row gap-20 justify-around border-t border-black rounded-none mx-auto">
  <strong>Debugger</strong> 
  <div class="flex flex-col items-start">
     <button (click)="this.DocusignApi.auth.getToken()">Connect</button> <button (click)="this.DocusignApi.auth.initCode()">Get Token Status</button> 
     <p>TokenFromUrl: {{this.TokenFromUrl}}</p>
     <br>Authenticated User: <button>Disconnect</button> 
     <hr>
  </div>
  <div class="flex flex-col items-start">
     <ul>
        <li> Templates list... </li>
     </ul>
     <form> Name: <input type="text"/> <br> ID: <input type="text"/> <br> </form>
     <button>Create Template</button> 
     <hr>
  </div>
  <div class="flex flex-col items-start"> Email: <input type="text"/> <button>Send Contract</button> </div>
</div>